:root {
    --black: hsl(193, 100%, 5%);
    --white: hsl(193, 100%, 95%);
    background-color: var(--black);
    color: var(--white);
    font-family: sans-serif;
}

body.dragging-object * {
    cursor: grabbing !important;
}

.board {
    display: flex;
    overflow-x: scroll;
    gap: 0.5rem;
}

.column {
    overflow-y: scroll;
    flex: 1;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid hsl(193, 0%, 30%);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 350px;
    min-width: 350px;
}

.column-title {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
    padding: 0.5rem;
}

.task {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 0.25rem;
    border-radius: 0.5rem;
}

.task-toolbar {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
}

.task-toolbar .task-toolbar-button {
    transform: scale(0);
    transition: 150ms transform;
}

.task-toolbar:hover .task-toolbar-button, .task-toolbar:focus-within .task-toolbar-button {
    transform: scale(1);
}

.task-toolbar-button {
    margin: 0;
    background-color: var(--black);
    padding: 0.5rem;
    line-height: 0;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.25em;
    color: var(--white);
    font-weight: bold;
    transition: 150ms background-color, 150ms color;
}

.task-toolbar-button span {
    font-size: inherit;
}

.task-toolbar-button:hover,
.task-toolbar-button:focus-within
{
    background-color: var(--white);
    color: var(--black);
}

.task-content {
    margin: 0;
    font-weight: bold;
    flex: 1;
}

.drag-zone {
    height: 4px;
    background-color: hsl(193, 100%, 95%);
    opacity: 0.33;
    border-radius: 0.5rem;
    transition: 200ms opacity;
    display: none;
}

.drag-zone.active {
    display: unset;
}

.drag-zone.highlighted {
    opacity: 1.0;
}

.drag-zone:has( + .being-dragged), .being-dragged + .drag-zone {
    display: none;
}

.being-dragged .drag-zone {
    display: none;
}

.ghost {
    background-color: black;
    position: absolute;
    opacity: 0.7;
    min-width: 200px;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 2px 2px hsla(193, 100%, 5%, 50%);
}

.ghost .task-toolbar-button {
    display: none;
}

.popup {
    position: absolute;
    inset: 0;
}
