:root {
    --black: hsl(193, 100%, 5%);
    --slightly-less-black: hsl(193, 100%, 10%);
    --white: hsl(193, 100%, 95%);
    background-color: var(--black);
    color: var(--white);
    font-family: sans-serif;
}

body {
    margin: 0;
}

body.dragging-object * {
    cursor: grabbing !important;
}

.board {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    min-height: calc(100vh - 2rem);
}

.board-title {
    font-size: 2rem;
    margin: 1rem;
    flex: 1;
}

.board-content {
    display: flex;
    flex: 1;
    overflow-x: auto;
    gap: 0.5rem;
}

.column {
    overflow-y: auto;
    flex: 1;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid hsl(193, 0%, 30%);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 350px;
    min-width: 350px;
}

.column-toolbar,
.task-toolbar,
.board-toolbar {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
}

.column-toolbar-button,
.board-toolbar-button {
    color: var(--white);
    background-color: transparent;
    border: none;
    line-height: 0;
    border-radius: 50%;
    aspect-ratio: 1/1;
    padding: 0.5rem;
    transition: background-color 150ms, color 150ms, transform 150ms;
}

.column-toolbar-button:hover,
.board-toolbar-button:hover {
    background-color: var(--white);
    color: var(--black);
}

.column-toolbar-button {
    transform: scale(0);
}

.column-title {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
    padding: 0.5rem;
    flex: 1;
}

.task {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 0.25rem;
    border-radius: 0.5rem;
}

.task-toolbar:hover .task-toolbar-button,
.task-toolbar:focus-within .task-toolbar-button,
.column-toolbar:hover .column-toolbar-button,
.column-toolbar:focus-within .column-toolbar-button
{
    transform: scale(1);
}

.task-toolbar-button {
    margin: 0;
    background-color: var(--black);
    padding: 0.5rem;
    line-height: 0;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.25em;
    color: var(--white);
    font-weight: bold;
    transform: scale(0);
    transition: 150ms background-color, 150ms color, 150ms transform;
}

.task-toolbar-button span {
    font-size: inherit;
}

.task-toolbar-button:hover,
.task-toolbar-button:focus-within {
    background-color: var(--white);
    color: var(--black);
}

.task-content {
    margin: 0;
    font-weight: bold;
    flex: 1;
}

.drag-zone {
    background-color: hsl(193, 100%, 95%);
    opacity: 0.33;
    border-radius: 0.5rem;
    transition: 200ms opacity;
    display: none;
}

.drag-zone[data-tag="task"] {
    height: 4px;
} 

.drag-zone[data-tag="column"] {
    width: 4px;
} 

.drag-zone.active {
    display: unset;
}

.drag-zone.highlighted {
    opacity: 1.0;
}

.drag-zone:has(+ .being-dragged), .being-dragged + .drag-zone {
    display: none;
}

.being-dragged .drag-zone {
    display: none;
}

.ghost {
    background-color: black;
    position: fixed;
    opacity: 0.7;
    min-width: 200px;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 2px 2px hsla(193, 100%, 5%, 50%);
}

.ghost .task-toolbar-button {
    display: none;
}

.popup {
    position: absolute;
    inset: 0;
}

.boards-page-title {
    text-align: center;
}

.boards-list {
    padding: 1rem;
    margin-inline: auto;
    max-width: 1000px;
    list-style: none;
}

.boards-list-item {
    background-color: var(--slightly-less-black);
    color: var(--white);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    transition: background-color 150ms, color 150ms;
}

.boards-list-toolbar {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.boards-list-button {
    color: var(--white);
    background-color: transparent;
    border: none;
    line-height: 0;
    border-radius: 50%;
    aspect-ratio: 1/1;
    padding: 0.5rem;
    transition: background-color 150ms, color 150ms, transform 150ms;
}

.boards-list-button .material-symbols-outlined {
    font-size: 2.5em;
}

.boards-list:empty {
    display: none;
}

.boards-list-button:hover,
.boards-list-button:focus-within
{
    background-color: var(--white);
    color: var(--black);
}

.boards-list-item:has(.boards-list-text:hover),
.boards-list-item:has(.boards-list-text:focus-within) {
    background-color: var(--white);
    color: var(--black);
}

.boards-list-text {
    display: block;
    padding: 1rem;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
